<!DOCTYPE html>
<html>
<head>
	<title>EJS</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="skip">
		<% result.forEach(function(user){ %>
			<div onclick="skip('<%= user.nickname %>','<%= user.path %>');"><%= user.nickname %></div>
		<%})%>
	</div>
	<div id="total"></div>
	<div id="move">
		<div class="top"></div>		
		<div class="middle">
			<div id="info"></div>
		</div>
		<div class="bottom">
			<div class="text" contenteditable="true"></div>
			<div class="send">发送</div>
			<div class="close">关闭</div>
		</div>
	</div>
	<div id="path" style="display:none"><%= path %></div>
	<div id="oneself" style="display:none"><%= nickname %></div>
</body>
</html>